# Dependency directories
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
dist/
out/

# OS specific files
.DS_Store
Thumbs.db

# IDE specific files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
